<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class='jumbotron'>{{buch.titel}}</h2>    
        <div>
            <img src="{{buch.cover}}" class="" alt="image">
            <p>{{buch.autor}}</p>
            <p>{{buch.inhalt}}</p>
            <p>{{buch.sprache}}</p>
            <p>{{buch.prio}}</p>
        </div>
</body>
</html>
