<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class='jumbotron'>Meine Bücher:</h2>    
    {% for book in buch %}
        <div>
            <img src="{{book.cover}}" class="" alt="image">
            <p><a href="{% url 'book_detail' book.id %}">{{book.titel}}</a></li>
            <p>{{book.prio}}</p>
        </div>
    {% endfor %}
    <button type="button" class="btn btn-dark"><a href="{% url 'new_book' %}" class='text-light'>+ Neues Buch hinzufügen</a></button>
</body>
</html>


