<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neues Buch</title>
</head>
<body>
    <h2 class='jumbotron'>Neues Buch hinzufügen</h2>    
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <label>Titel</label>  <input type="text" name="titel">
                <br>
                <label>Autor</label>  <input type="text" name="autor">
                <br>
                <label>Inhalt</label>  <input type="textarea" name="inhalt">
                <br>
                <label>Cover</label>  <input type="text" name="cover">
                <br>
                <label>Priorität</label>  <input type="radio" name="prio">
                <br>
                <h6>Sprache</h6>
                <select value= Sprache name="sprache">
                  {% for sprache in sprachen %}
                    <option value="{{sprache.id}}">{{sprache}}</option>
                  {% endfor %}
                </select>

                <input type="submit" class="btn btn-dark" value="Anlegen">
            </form>
        </div>
</body>
</html>